<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div class="adira-yellow-theme" #toolbar>
      <mat-toolbar color="primary">
        <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
          <img width="80%" src="./../../../assets/img/Logo.Adira.svg" alt="{{'imageNotExist' | translate}}">
        </div>
      </mat-toolbar>
    </div>
    <mat-nav-list class="margin-bottom-32" *ngIf="!loading">
      <ng-container *ngFor="let nav of navList">
        <mat-expansion-panel class="nav-panel" *ngIf="nav.children">
          <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
            <mat-panel-title>
              {{nav.title | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <ng-container *ngFor="let navChild of nav.children; let j = index">
              <a mat-list-item [routerLink]="nav.link + navChild.link" routerLinkActive="active-nav"
                (click)="clickNav(drawer)"> {{navChild.title | translate}}
              </a>
              <mat-divider *ngIf="j !== nav.children.length - 1"></mat-divider>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <a mat-list-item class="parent-nav" *ngIf="!nav.children" [routerLink]="nav.link" routerLinkActive="active-nav"
          (click)="clickNav(drawer)"> {{nav.title | translate}}
        </a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
    <div class="margin-bottom-32 margin-top-16" [style.width]="toolbar.offsetWidth + 'px'" fxLayout="row"
      fxLayoutAlign="center center" *ngIf="loading">
      <div>
        <mat-spinner diameter="30" color="accent"></mat-spinner>
      </div>
    </div>
    <div class="sidenav-bottom padding-bottom-10" [style.width]="toolbar.offsetWidth + 'px'" fxLayout="row"
      fxLayoutAlign="center center">
      <div class="font-tag">
        version: {{versionNo}} ({{versionDate | date: 'MMM, dd yyyy' : undefined : dateLocale }})
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="adira-dark-theme">
      <mat-toolbar color="accent">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>{{'userAction.profile' | translate}}</button>
          <button mat-menu-item
            routerLink="/account/change-password">{{'userAction.changePassword' | translate}}</button>
          <button mat-menu-item (click)="logout()">{{'userAction.logout' | translate}}</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu" #menutrigger="matMenuTrigger">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="profile-circle" fxLayout="column" fxLayoutAlign="center end">
              <mat-icon>person</mat-icon>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <div class="name-text">{{userName}}</div>
              <div class="role-text">{{role}}</div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <mat-icon *ngIf="menutrigger.menuOpen">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!menutrigger.menuOpen">keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </button>
      </mat-toolbar>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>