.table-wrapper{
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    overflow: auto;
}

.position-relative {
    position: relative
}

.box-min-height {
    min-height: 300px
}

.feature {
    width: 200px;
    vertical-align: top;
}

.privileges-min-width {
    min-width: 100px
}