<div class="adira-dark-theme" fxLayout="row">
  <mat-toolbar color="accent" class="page-title">{{'changePasswordScreen.title' | translate}}</mat-toolbar>
</div>
<div fxLayout="row" class="padding-16 border-bottom-gray">
  <a>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="top-action-text">{{'changePasswordScreen.seeMyProfile' | translate}}</span>
    </div>
  </a>
</div>
<form [formGroup]="changePasswordForm">
  <div fxLayout="row" class="padding-16 border-bottom-gray">
    <div fxFlexAlign="center" fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-lg="20%" fxFlex.lt-sm="30%">
      {{'forms.oldPassword.fieldTitle' | translate}}
    </div>
    <div fxFlex="25%" fxFlex.lt-md="40%" fxFlex.lt-lg="35%" fxFlex.lt-sm="70%">
      <app-password-toggle-input appearance="fill" placeholder="{{'forms.oldPassword.placeholder' | translate}}"
        formControlName="oldPassword">
      </app-password-toggle-input>
      <mat-error class="bottom-error" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
        <span *ngIf="oldPassword.errors.required">{{'forms.oldPassword.errorRequired' | translate}}</span>
      </mat-error>
    </div>
  </div>
  <div fxLayout="row" class="border-bottom-gray padding-16">
    <div fxFlexAlign="center" fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-lg="20%" fxFlex.lt-sm="30%">
      {{'forms.newPassword.fieldTitle' | translate}}
    </div>
    <div fxFlex="25%" fxFlex.lt-md="40%" fxFlex.lt-lg="35%" fxFlex.lt-sm="70%">
      <app-password-toggle-input appearance="fill" placeholder="{{'forms.newPassword.placeholder' | translate}}"
        formControlName="newPassword">
      </app-password-toggle-input>
      <mat-error class="bottom-error" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <span *ngIf="newPassword.errors.required">{{'forms.newPassword.errorRequired' | translate}}</span>
        <span
          *ngIf="newPassword.errors.minlength && !newPassword.errors.pattern">{{'forms.newPassword.errorMinLength' | translate: passwordLength }}</span>
        <span
          *ngIf="newPassword.errors.maxlength && !newPassword.errors.pattern">{{'forms.newPassword.errorMaxLength' | translate: passwordLength }}</span>
        <span *ngIf="newPassword.errors.pattern">{{'forms.newPassword.errorFormat' | translate}}</span>
      </mat-error>
    </div>
  </div>
  <div fxLayout="row" class="padding-16 border-bottom-gray">
    <div fxFlexAlign="center" fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-lg="20%" fxFlex.lt-sm="30%">
      {{'forms.confirmPassword.fieldTitle' | translate}}
    </div>
    <div fxFlex="25%" fxFlex.lt-md="40%" fxFlex.lt-lg="35%" fxFlex.lt-sm="70%">
      <app-password-toggle-input appearance="fill" placeholder="{{'forms.confirmPassword.placeholder' | translate}}"
        formControlName="confirmPassword">
      </app-password-toggle-input>
      <mat-error class="bottom-error"
        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <span *ngIf="confirmPassword.errors.matchPassword">{{'forms.confirmPassword.errorMatch' | translate}}</span>
      </mat-error>
    </div>
  </div>
  <div fxLayout="row" class="padding-16">
    <div fxFlexAlign="center" fxFlex="20%" fxFlex.lt-md="30%" fxFlex.lt-lg="20%" fxFlex.lt-sm="30%">
    </div>
    <div fxFlex="25%" fxFlex.lt-md="40%" fxFlex.lt-lg="35%" fxFlex.lt-sm="70%" fxLayoutAlign="start center">
      <button *ngIf="!onSubmittingForm" mat-raised-button color="primary" (click)="changePassword()"
        [disabled]="!changePasswordForm.valid">{{'save' | translate}}</button>
      <button mat-raised-button color="primary" [disabled]="true" *ngIf="onSubmittingForm">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div>
            <mat-spinner diameter="16"></mat-spinner>
          </div>
          <div class="margin-left-5">{{'loading' | translate}}</div>
        </div>
      </button>
    </div>
  </div>
</form>