.mat-form-field-infix {
    margin-right: 24px;
    border-top: none !important;
    padding: 0.25em 0 0.25em 0 !important;
}

.mat-form-field-suffix .mat-icon {
    font-size: 100% !important;
    height: 0 !important
}