<div fxLayout="column" style="min-height: 100%">
  <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
    <div fxFlex="80%" fxFlex.lt-md="60%" fxFlex.lt-sm="100%" fxLayout="row wrap">
      <div class="page-title" fxLayout="row wrap" fxLayoutAlign="start center">
        {{'trackYourRequestScreen.title' | translate}}
      </div>
    </div>
    <div fxFlex="40%" fxFlex.lt-md="100%" fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex="70%" fxFlex.lt-lg="85%" fxFlex.lt-md="50%" fxFlex.lt-sm="70%">
        <mat-form-field appearance="fill" class="font-description search">
          <mat-icon matPrefix>search</mat-icon>
          <input formControlName="search" #searchInput matInput
                 placeholder="{{'trackYourRequestScreen.find' | translate}}" (focus)="isFocusedSearch = true"
                 (blur)="isFocusedSearch = false">
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="border-bottom-gray" fxLayout="row wrap" fxLayoutAlign="start center" class="padding-left-16">
    <div fxFlex="40%" fxFlex.lt-md="100%">
    </div>
    <div fxFlex="60%" fxFlex.lt-md="100%">
      <mat-paginator [disabled]="loading" [length]="paginatorProps.length" [pageSize]="paginatorProps.pageSize"
                     [pageSizeOptions]="paginatorProps.pageSizeOptions" [showFirstLastButtons]="paginatorProps.showFirstLastButtons"
                     [pageIndex]="paginatorProps.pageIndex" (page)="onPaginatorChange($event)">
      </mat-paginator>
    </div>
  </div>

  <!--<div class="border-bottom-gray" fxLayout="row wrap" fxLayoutAlign="start center" style="overflow-x: auto">
    <table mat-table [dataSource]="trackYourRequest" #trackYourRequestTable matSort (matSortChange)="onSortChange($event)" class="table-min-100">
    </table>
  </div>-->
</div>
