<div fxLayout="column" style="height: 100%">
  <div mat-dialog-title class="text-center font-gotham-bold font-title">
    {{data.title | translate}}
  </div>
  <div mat-dialog-content fxFlex="grow">
    <div style="height: 100; width: 100%">
      <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%" class="text-center text-gray">
        <div>{{data.content.string | translate: data.content.data}}</div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="margin-top-12 padding-bottom-24-important">
    <div fxLayout="row" style="width: 100%">
      <button mat-raised-button color="accent" [mat-dialog-close]="false" block-button>{{(data.button && data.button.cancel ? data.button.cancel : 'cancel' )| translate}}</button>
    </div>
    <div fxLayout="row" style="width: 100%" class="margin-top-5">
      <button mat-raised-button color="primary" [mat-dialog-close]="true"
        block-button>{{(data.button && data.button.ok ? data.button.ok : 'yesContinue' )| translate}}</button>
    </div>
  </div>
</div>