<div fxLayout="column" style="min-height: 100%">
  <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16 border-bottom-gray">
    <div class="page-title" fxLayout="row wrap" fxLayoutAlign="start center">
      {{'requestWithdrawalScreen.title' | translate}}
    </div>
  </div>
  <form [formGroup]="requestForm" *ngIf="!loading">
      <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
          <div fxFlex="50%" fxFlex.lt-md="100%" class="padding-16" ngClass.lt-md="border-bottom-gray">
              <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="30%">
                {{'requestWithdrawalScreen.jenisVAMaster' | translate}}
              </div>
              <div fxFlexAlign="center" fxFlex="70%">
                <mat-form-field appearance="fill">
                  <mat-select formControlName="jenisvamaster">
                    <mat-option value="">Pilih Jenis VA Master</mat-option>
                    <mat-option *ngFor="let dat of data" [value]="dat.id">{{dat.va_name + ' - ' + dat.va_number}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
      </div>
      <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
          <div fxFlex="50%" fxFlex.lt-md="100%" class="padding-16" ngClass.lt-md="border-bottom-gray">
            <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="30%">
              {{'requestWithdrawalScreen.currentAmount' | translate}}
            </div>
          </div>
      </div>
      <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
          <div fxFlex="50%" fxFlex.lt-md="100%" class="padding-16" ngClass.lt-md="border-bottom-gray">
              <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="30%">
                {{'requestWithdrawalScreen.totalWithdrawal' | translate}}
              </div>
              <div fxFlexAlign="center" fxFlex="70%">
                <mat-form-field appearance="fill">
                  <input matInput placeholder="{{'requestWithdrawalScreen.totalWithdrawal' | translate}}" formControlName="amount">
                </mat-form-field>
              </div>
          </div>
      </div>
  </form>
  <div fxFlex="grow" style="min-height:100px" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="loading">
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" class="margin-top-10 font-title">
      {{'loading' | translate}}...
    </div>
  </div>
</div>



