<div fxLayout="column" style="min-height: 100%">
  <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16 border-bottom-gray">
    <div class="page-title" fxLayout="row wrap" fxLayoutAlign="start center">
      {{'requestWithdrawalScreen.title' | translate}}
    </div>
  </div>
  <form [formGroup]="requestForm" *ngIf="!loading">
    <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
      <div fxFlex="50%" fxFlex.lt-md="100%" class="padding-16" ngClass.lt-md="border-bottom-gray">
        <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="30%">
          {{'requestWithdrawalScreen.jenisVAMaster' | translate}}
        </div>
        <div fxFlexAlign="center" fxFlex="70%">
          <mat-form-field appearance="fill">
            <mat-select placeholder="{{'requestWithdrawalScreen.typeVAMaster' | translate}}"
              formControlName="jenisvamaster" (selectionChange)="changeAmount($event)">
              <mat-option *ngFor="let dat of data" [value]="dat">{{dat.va_name + ' - ' + dat.va_number}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error class="bottom-error"
            *ngIf="jenisvamaster.invalid && (jenisvamaster.dirty || jenisvamaster.touched)">
            <span *ngIf="jenisvamaster.errors.required">{{'forms.vaMaster.errorRequired' | translate}}</span>
          </mat-error>
        </div>
      </div>
    </div>
    <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
      <div fxFlex="50%" fxFlex.lt-md="100%" class="padding-16" ngClass.lt-md="border-bottom-gray">
        <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="30%">
          {{'requestWithdrawalScreen.currentAmount' | translate}}
        </div>
        <div fxFlexAlign="center" fxFlex="70%">
          <div><strong>{{amountValue | currency:'IDR':'symbol-narrow':'1.2-2': locale}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
      <div fxFlex="50%" fxFlex.lt-md="100%" class="padding-16" ngClass.lt-md="border-bottom-gray">
        <div fxLayout="row wrap" fxFlexAlign="center" fxFlex="30%">
          {{'requestWithdrawalScreen.totalWithdrawal' | translate}}
        </div>
        <div fxFlexAlign="center" fxFlex="70%">
          <mat-form-field appearance="fill">
            <input matInput placeholder="{{'requestWithdrawalScreen.totalWithdrawal' | translate }}"
              formControlName="amount">
          </mat-form-field>
          <mat-error class="bottom-error" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
            <span *ngIf="amount.errors.pattern">{{'forms.vaMaster.errorFormat' | translate}}</span>
          </mat-error>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="67%" fxFlex.lt-md="100%" fxFlex.lt-lg="35%" fxFlex.lt-sm="100%">
        <mat-radio-group fxLayout="row wrap">
          <mat-radio-button [checked]="vShowPartialPage" fxFlex="30%" fxFlex.lt-md="100%" fxFlex.lt-lg="100%"
            fxFlex.lt-sm="100%" color="primary" [value]="true" (change)="showPartialAmount()">
            {{ 'forms.vaMaster.partial' | translate }}</mat-radio-button>
          <mat-radio-button [checked]="vShowFullPage" fxFlex="50%" fxFlex.lt-md="100%" fxFlex.lt-lg="100%"
            fxFlex.lt-sm="100%" color="primary" [value]="false" (change)="showFullAmount()">
            {{ 'forms.vaMaster.full' | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>
  <div fxFlex="grow" style="min-height:100px" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="loading">
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" class="margin-top-10 font-title">
      {{'loading' | translate}}...
    </div>
  </div>
</div>