/* You can add global styles to this file, and also import other style files */

@import ".~src/assets/styles/colors";
@import ".~src/assets/styles/spacing";
@import ".~src/assets/styles/fonts";


$font-folders: "./assets/fonts/";
$font-folders-material: "./assets/fonts/MaterialIcons/";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url($font-folders-material + 'MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url($font-folders-material + 'MaterialIcons-Regular.woff2') format('woff2'),
         url($font-folders-material + 'MaterialIcons-Regular.woff') format('woff'),
         url($font-folders-material + 'MaterialIcons-Regular.ttf') format('truetype');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

$font-folders-roboto: "./assets/fonts/Roboto/";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url($font-folders-roboto + 'roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url($font-folders-roboto + 'roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($font-folders-roboto + 'roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url($font-folders-roboto + 'roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url($font-folders-roboto + 'roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url($font-folders-roboto + 'roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    src: url($font-folders-roboto +'roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url($font-folders-roboto +'roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($font-folders-roboto +'roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url($font-folders-roboto +'roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url($font-folders-roboto +'roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url($font-folders-roboto +'roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto-Bold-Italic';
    font-style: italic;
    font-weight: 700;
    src: url($font-folders-roboto + 'roboto-v18-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
         url($font-folders-roboto +'roboto-v18-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($font-folders-roboto +'roboto-v18-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url($font-folders-roboto +'roboto-v18-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url($font-folders-roboto +'roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url($font-folders-roboto +'roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

$font-folders-gotham: "./assets/fonts/Gotham/";
@font-face {
    font-family: 'Gotham-Bold';
    src: url($font-folders-gotham + 'Gotham-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Gotham';
    src: url($font-folders-gotham + 'Gotham-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'Gotham-Light';
    src: url($font-folders-gotham + 'Gotham-Light.otf') format("opentype");
}

html, body { height: 100%; }
body { 
    @extend .no-margin;
    @extend .font-roboto; 
    @extend .font-description;
    background-color: map-get($colors, white);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.75em .75em 0.75em 0.75em !important;
}

.mat-form-field-appearance-fill 
.mat-form-field-infix {
    border-top: none !important;
    padding: 0.25em 0 0.25em 0 !important;
    width: 100% !important
}

.search
.mat-form-field-infix {
    margin-left: 24px;
    border-top: none !important;
}

.search
.mat-form-field-prefix {
    position: absolute;
}

.custom .mat-form-field-suffix {
    position: absolute !important;
    right: 0.75em;
}

.mat-form-field{
    width: 100%
}

.mat-raised-button, .mat-flat-button >
.mat-button-wrapper{
    @extend .font-gotham-bold;
    @extend .font-sub-description;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}


.mat-form-field-underline {
    bottom: 0;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.bottom-error.mat-error{
    font-size: 75%;
    padding: 0 1em;
    padding-top: 5px;
}

.bottom-hint.mat-hint{
    font-size: 75%;
    padding: 0 1em;
    padding-top: 5px;
}

.inline-hint.mat-hint{
    font-size: 75%;
}

.border-gray{
    border: 1px solid map-get($colors, gray);
}

.border-bottom-gray{
    border-bottom: 1px solid map-get($colors, gray);
}

.border-top-gray{
    border-top: 1px solid map-get($colors, gray);
}

.dashed-border-medium-gray{
    border: 1.5px dashed map-get($colors, gray);
}

.bg-yellow-adira {
    background-color: map-get($colors, yellow);
}

.bg-light-gray {
    background-color: map-get($colors, light-gray);
}

.bg-medium-gray {
    background-color: map-get($colors, medium-gray);
}

.icon-42 {
    width: 42px !important;
    height: 42px !important;
    font-size: 42px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.page-title{
    @extend .font-gotham-bold;
    @extend .font-headline;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.15px;
}

.font-th{
    @extend .font-gotham-bold;
    @extend .font-description;
    font-style: normal;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: #333333;
}

.text-purple{
    color: map-get($colors, purple);
}

.text-medium-gray{
    color: map-get($colors, medium-gray);
}

.link-purple{
    @extend .font-roboto;
    @extend .font-tag;
    @extend .text-purple;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.text-danger{
    color: map-get($colors, danger-red)
}

.text-success{
    color: map-get($colors, success-green)
}

.text-dark-gray{
    color: map-get($colors, dark-gray)
}

.text-warning{
    color: map-get($colors, pale-orange)
}

.text-blue{
    color: map-get($colors, blue)
}

.top-action-text{
    @extend .font-gotham-bold;
    @extend .font-sub-description;
    color: map-get($colors, purple);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.top-action-text.disabled{
    @extend .text-medium-gray;
    @extend .cursor-not-allowed;
}

.mat-simple-snackbar-action .mat-button{
    @extend .top-action-text;
    color: map-get($colors, white);
}

button[block-button]{
    width: 100%
}

.font-description-icon {
    font-size: map-get($font-sizes, 'description') !important;
    width: 16px !important; 
    height: 16px !important;
}

.font-sub-content-icon {
    font-size: map-get($font-sizes, 'sub-content') !important;
    width: map-get($font-sizes, 'sub-content') !important; 
    height: map-get($font-sizes, 'sub-content') !important;
}

.th-min-width-150 {
    min-width: 150px;
}

.th-min-width {
    min-width: 100px;
}

.th-min-width-75{
    min-width: 75px;
}

.th-min-width-50{
    min-width: 50px;
}

.th-width-25{
    width: 25px;
}

.th-min-width-25{
    min-width: 25px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

th.mat-header-cell {
    text-align: center !important;
}

th.mat-header-cell:first-of-type {
    text-align: left !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px !important;
}

.mat-datepicker-toggle-default-icon {
    width: 1em !important;
    height: 1em !important;
}

.calendar-mat-icon-button {
    width: 1em !important;
    height: 1em !important;
}

.mat-datepicker-toggle {
    .mat-icon-button {
        width: 1em !important;
        height: 1em !important;
    }
}

.mat-form-field-appearance-fill 
.mat-select-arrow-wrapper {
    transform: none !important;
}

.text-label {
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-center-important{
    text-align: center !important;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center-important
.mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

a.top-action-text {
    text-decoration: none
}

.notif-snackbar{
    padding: 0 !important;
    background-color: rgba($color: #000000, $alpha: 0)
}

.table-min-100{
    min-width: 100%;
}
