<div fxLayout="column" style="min-height: 100%">
  <div fxLayout="row" style="width: 100%; min-height: 64px;" class="padding-16">
    <div fxFlex="50%" class="page-title" fxLayout="row wrap" fxLayoutAlign="start center">
      {{'changePhonenumberRequestListScreen.title' | translate}}
    </div>
    <div fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="end center">
      <div fxFlex="40%" fxFlex.lt-lg="60%" fxFlex.lt-md="80%" fxFlex.lt-sm="100%">
        <mat-form-field appearance="fill" class="font-description search">
          <mat-icon matPrefix>search</mat-icon>
          <input #searchInput matInput [(ngModel)]="search" (ngModelChange)="onSearch()"
            placeholder="{{'table.search' | translate}}" [disabled]="loading" (focus)="isFocusedInput = true"
            (blur)="isFocusedInput = false">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="border-bottom-gray" fxLayout="row wrap" fxLayoutAlign="start center" class="padding-left-16">
    <div fxFlex="100%">
      <mat-paginator [disabled]="loading" [length]="paginatorProps.length" [pageSize]="paginatorProps.pageSize"
        [pageSizeOptions]="paginatorProps.pageSizeOptions" [showFirstLastButtons]="paginatorProps.showFirstLastButtons"
        [pageIndex]="paginatorProps.pageIndex" (page)="onPaginatorChange($event)">
      </mat-paginator>
    </div>
  </div>
  <div class="border-bottom-gray" fxLayout="row wrap" fxLayoutAlign="start center" style="overflow-x: scroll">
    <table mat-table [dataSource]="requests" width="100%" #branchesTable>
      <ng-container matColumnDef="selection">
        <th mat-header-cell *matHeaderCellDef class="font-th th-width-25">
          <mat-checkbox color="primary" (change)="onChangeSelectAll($event)"
            [checked]="selectableRequestCount == selectedRequests.length && selectableRequestCount > 0"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox color="primary" *ngIf="element.status === null || element.status === ''"
            (change)="onChangeSelect($event, element)" [checked]="element.isSelected">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="requestDate">
        <th mat-header-cell *matHeaderCellDef class="font-th th-min-width-50">
          {{'table.changePhonenumberRequestTable.requestDate' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.requested_dt | date : 'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef class="font-th  th-min-width-50">
          {{'table.changePhonenumberRequestTable.customerName' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.cust_name}} </td>
      </ng-container>
      <ng-container matColumnDef="requestDuration">
        <th mat-header-cell *matHeaderCellDef class="font-th th-min-width">
          {{'table.changePhonenumberRequestTable.requestDuration' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{getDurationText(element).text | translate: getDurationText(element).duration}}
        </td>
      </ng-container>
      <ng-container matColumnDef="oldPhoneNumber">
        <th mat-header-cell *matHeaderCellDef class="font-th th-min-width">
          {{'table.changePhonenumberRequestTable.oldPhoneNumber' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{element.old_phone}}
        </td>
      </ng-container>
      <ng-container matColumnDef="newPhoneNumber">
        <th mat-header-cell *matHeaderCellDef class="font-th  th-min-width-50 text-center-important">
          {{'table.changePhonenumberRequestTable.newPhoneNumber' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          {{element.new_phone}}
        </td>
      </ng-container>
      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef class="font-th  th-min-width-50 text-center-important">
          {{'table.lastUpdated' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.action_dt && element.action_by">            
            {{element.action_dt | date : 'dd/MM/yyyy HH:mm'}} {{'by' | translate}} {{element.action_by}}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actionsStatus">
        <th mat-header-cell *matHeaderCellDef class="font-th  th-min-width text-center-important">
          {{'table.changePhonenumberRequestTable.actionsStatus' | translate}} </th>
        <td mat-cell *matCellDef="let element" [align]="!element.status || element.status === '' ? 'center' : 'left'">
          <div *ngIf="element.status && element.status.toLowerCase() === status.closed.toLowerCase()">
            <span *ngIf="element.action.toLowerCase() === action.approved.toLowerCase()" class="text-success">
              {{'table.status.approved' | translate}}
            </span>
            <span *ngIf="element.action.toLowerCase() === action.rejected.toLowerCase()" class="text-danger">
              {{'table.status.rejected' | translate}}
            </span>
          </div>
          <div *ngIf="!element.status || element.status === ''"
            class="padding-top-10 padding-bottom-10 success-error-theme">
            <div style="width: 100%">
              <button block-button mat-raised-button color="primary"
                (click)="approveRequest(element)">{{'approve' | translate}}</button>
            </div>
            <div style="width: 100%" class="margin-top-5">
              <button block-button mat-raised-button color="accent"
                (click)="rejectRequest(element)">{{'reject' | translate}}</button>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="remark">
        <th mat-header-cell *matHeaderCellDef class="font-th  th-min-width-50 text-center-important">
          {{'table.changePhonenumberRequestTable.remark' | translate}} </th>
        <td mat-cell *matCellDef="let element" align="center">
          <div *ngIf="element.action?.toLowerCase() === 'rejected'">
            <mat-icon *ngIf="(!element.remarks || element.remarks === '')" class="cursor-pointer"
              (click)="editRemark(element)">edit</mat-icon>
            <span *ngIf="element.remarks && element.remarks !== ''">{{element.remarks}}</span>
          </div>
        </td>
      </ng-container>
      <tr class="bg-light-gray" mat-header-row *matHeaderRowDef="requestColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: requestColumns;" [hidden]="loading"></tr>
    </table>
  </div>
  <div fxFlex="grow" style="min-height:100px" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="loading">
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" class="margin-top-10 font-title">
      {{'loading' | translate}}...
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" class="margin-top-10 padding-left-16"
    *ngIf="requests.length === 0 && !loading">
    <div class="font-gotham-light">
      {{'table.noRecordsFound' | translate}}
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="selectedRequests.length > 0 && !loading"
    class="padding-16 padding-top-10 padding-bottom-10 border-top-gray bottom-sticky-toolbar">
    <div fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="start center" class="font-gotham-bold font-sub-content">
      <div flexAlign="center" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="cursor-pointer" (click)="deselectAll()">clear</mat-icon>
      </div>
      <div flexAlign="center" class="margin-left-10">
        {{'changePhonenumberRequestListScreen.totalRequestSelected' | translate: {totalRequest: this.selectedRequests.length} }}
      </div>
    </div>
    <div fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="end center" class="success-error-theme">
      <div class="margin-right-10">
        <button mat-raised-button color="accent" (click)="bulkRejectRequest()">{{'reject' | translate}}</button>
      </div>
      <div class="margin-right-10">
        <button mat-raised-button color="primary" (click)="bulkApproveRequest()">{{'approve' | translate}}</button>
      </div>
    </div>
  </div>
</div>